<!DOCTYPE html>
<html>

<head>
    <title>NSKA Bots</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />
</head>
<div class="container">
    <div class="page-header">
        <h1>Bot Listing</h1><h4>Click on any bot to view its profile.</h4>
    </div>
<% for(let bot of bots) { try { %>
    <div class="media" onclick="window.location.href='/bot/<%= bot.id || 0 %>'" style="cursor: pointer; cursor: hand;">
            <div class="media-left media-middle">
            <img class="media-object" onerror="if (this.src != '/api/image/undefined') this.src = 'error.jpg';" src="<%= bot.bot.id == 'undefined' ? '/api/image/undefined' : ('/api/image/' + bot.bot.id || '/api/image/none') %>" alt="/api/image/undefined" width="64" height="64" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <%= bot.bot.username || bot.id %>
                </h4>
                <%= bot.owner.username || 'unknown' %><small>#<%= bot.owner.discriminator || '0000' %></small>
            </div>
    </div>
    <hr />
    <%}catch(e){} } %>
</div>

</html>